* {
  box-sizing: border-box;
}

.page-content {
  h1 {
    @apply .text-4xl;
    @apply .font-medium;
    @apply .mb-4;
    @apply .leading-tight;

    &[id]::before {
      content: "";
      @apply .block;
      @apply .h-24;
      @apply .-mt-24;
    }
  }

  h2 {
    @apply .text-3xl;
    @apply .font-medium;
    @apply .mb-4;
    @apply .mt-8;
    @apply .leading-tight;

    &[id]::before {
      content: "";
      @apply .block;
      @apply .h-24;
      @apply .-mt-24;
    }
  }

  h3 {
    @apply .text-2xl;
    @apply .font-medium;
    @apply .mb-4;
    @apply .mt-8;
    @apply .leading-tight;

    &[id]::before {
      content: "";
      @apply .block;
      @apply .h-24;
      @apply .-mt-24;
    }
  }

  h4 {
    @apply .text-xl;
    @apply .font-medium;
    @apply .mb-4;
    @apply .mt-8;
    @apply .leading-tight;

    &[id]::before {
      content: "";
      @apply .block;
      @apply .h-24;
      @apply .-mt-24;
    }
  }

  h5 {
    @apply .text-lg;
    @apply .font-medium;
    @apply .mb-4;
    @apply .mt-8;
    @apply .leading-tight;

    &[id]::before {
      content: "";
      @apply .block;
      @apply .h-24;
      @apply .-mt-24;
    }
  }

  h6 {
    @apply .text-base;
    @apply .font-medium;
    @apply .mb-4;
    @apply .mt-8;
    @apply .leading-tight;

    &[id]::before {
      content: "";
      @apply .block;
      @apply .h-24;
      @apply .-mt-24;
    }
  }

  p {
    @apply .mb-4;
  }

  ol {
    list-style: upper-alpha;
    @apply .pl-5;
    li {
      @apply .mb-4;
    }
    ol {
      @apply .mt-2;
      @apply .list-decimal;
      @apply .mb-6;
      ol {
        list-style: lower-alpha;
        ol {
          list-style: lower-roman;
        }
      }
    }
  }
}

table {
  th,
  td {
    @apply .p-1;
    @apply .align-top;
  }
}

.table-bordered {
  th {
    @apply .border-b-2;
  }
  td {
    @apply .border-t;
  }
}

.table-scroll {
  table {
    @apply .w-full;
  }
  th,
  td {
    @apply .whitespace-no-wrap;
  }
}

.table-hidden-thead {
  thead {
    @apply .hidden;
  }
}

.algolia-autocomplete {
  @apply .flex;
  @apply .h-full;
  // @apply .w-full;
}
