---
import { HeadingLink } from './HeadingLink'
const { id } = Astro.props
---

<div id={id} class="mt-[2em] scroll-mt-20">
  <HeadingLink client:only id={id} />
  <h4 class="mt-0">
    <slot />
  </h4>
</div>
