---
import { css } from '../../../styled-system/css'
---

<div
  class={css({
    mt: '-2',
    mb: '4',
    '& table': {
      fontSize: 'sm',
      lineHeight: 'relaxed',
      '& thead': {
        display: 'none',
      },
      '& th': {
        borderBottomWidth: '2px',
        borderBottomColor: 'gray.200',
      },
      '& td': {
        p: '2.5',
        borderTopWidth: '1px',
        borderTopColor: 'gray.200',
        '&:first-of-type': {
          pl: '0',
        },
        '&:last-of-type': {
          pr: '0',
        },
      },
    },
  })}
>
  <slot />
</div>
