---
import { Heading } from './Heading'

const props = Astro.props
console.log({ Astro })
---

<div class="mt-[2em]">
  <!-- <h2 class="mt-0"> -->
  <!-- <Heading client:only="react" level={2} id={props.id}> -->
  <slot />
  <!-- </Heading> -->
  <!-- </h2> -->
</div>
