---
import { ExternalLink } from 'lucide-react'
---

<nav
  class="relative inset-x-0 z-20 flex h-16 flex-shrink-0 border-b border-gray-200 bg-white"
>
  <div class="relative mx-auto w-full max-w-screen-2xl">
    <div class="flex h-full items-center">
      <div class="h-full w-16 flex-shrink-0 pl-4 md:w-40 lg:w-72 2xl:w-80">
        <div class="flex h-full items-center">
          <link href="/" class="block h-full w-full py-2 lg:mr-4" />
          <img
            src="/meta/bufgreencode-icon.svg"
            alt="Buffalo Green Code"
            class="h-full w-auto md:hidden"
          />
          <img
            src="/meta/bufgreencode-logo.svg"
            alt="Buffalo Green Code"
            class="hidden h-full w-auto md:block"
          />
        </div>
      </div>
    </div>
    <div class="h-full w-full flex-1 px-4 md:block md:px-8 xl:w-3/4">
      <div class="flex h-full w-full items-center py-2">
        <!-- <SearchComponent /> -->
      </div>
    </div>
    <div
      class="hidden h-full flex-shrink-0 items-center pr-4 text-sm font-medium md:flex lg:w-72 2xl:w-80"
    >
      <link
        href="/disclaimer"
        class="py-1 px-2 text-gray-700 hover:text-gray-900"
      />
      Disclaimer
    </div>
    <a
      class="flex items-center py-1 px-2 text-gray-700 hover:text-gray-900"
      href="https://github.com/IHIutch/bufgreencode_v2"
      target="_blank"
      rel="noreferrer"
    >
      <span class="mr-1">Source Code</span>
      <span>
        <ExternalLink className="h-4 w-4" />
      </span>
    </a>
  </div>
</nav>
