.page-content {
  h1 {
    @apply text-4xl;
  }

  h2 {
    @apply text-3xl;
    @apply mt-20;
  }

  h3 {
    @apply text-2xl;
    @apply mt-12;
  }

  h4 {
    @apply text-xl;
    @apply mt-8;
  }

  h5 {
    @apply text-lg;
    @apply mt-8;
  }

  h6 {
    @apply text-base;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    scroll-margin-top: 6rem;
    @apply mb-4;
    @apply mt-20;
    @apply font-medium;
    @apply leading-tight;
  }

  p {
    @apply mb-4;
  }

  ol {
    list-style: upper-alpha;
    @apply pl-5;

    li {
      @apply mb-4;
    }

    ol {
      @apply mt-2;
      @apply list-decimal;
      @apply mb-6;

      ol {
        list-style: lower-alpha;

        ol {
          list-style: lower-roman;
        }
      }
    }
  }

  img {
    @apply w-full;
  }

  figure {
    p {
      @apply mb-0;
      @apply w-full;
    }
  }
}

table {

  th,
  td {
    @apply p-1;
    @apply align-top;
  }
}

.table-bordered {
  th {
    @apply border-b-2;
  }

  td {
    @apply border-t;
  }
}

.table-scroll {
  table {
    @apply w-full;
  }

  th,
  td {
    @apply whitespace-nowrap;
  }
}

.table-hidden-thead {
  thead {
    @apply hidden;
  }
}

.algolia-autocomplete {
  @apply flex;
  @apply h-full;
}

.ais-Highlight-highlighted {
  @apply font-bold;
  @apply border-b-2;
  @apply border-green-700;
}

.ais-Snippet-highlighted {
  @apply font-bold;
  @apply text-gray-900;
  @apply border-b-2;
  @apply border-green-700;
}
