$hamburger-padding-x: 12px;
$hamburger-padding-y: 11px;
$hamburger-layer-width: 1.5rem;
$hamburger-layer-height: 3px;
$hamburger-layer-spacing: 4px;

@import '../node_modules/hamburgers/_sass/hamburgers/hamburgers.scss';
